# Hello world

executing a cell with `shift`+`enter`

In [2]:
print('Hello world')

Hello world

# Basic types

**What we will cover**

## 1. Numerical types
* 1.1 Integer
* 1.2 Float
* 1.3 complex
* 1.4 Boolean
    
## 2. Containers
* 2.1 **List**
* 2.2 String
* 2.3 Tuple
* 2.4 *Set*
* 2.5 **Dictionaries**

   **Mutable** vs immutable
    and *Mutable but unordered*
   
   
## Also cover 
* Numerical operations
* Comparisons
* Slicing
* List/dict/set comprehensions

## Numerical Types
### 1.1 Integer

In [32]:
a = 1

In [33]:
type(a)

int

In [34]:
a = a + 1
print(a)

2

**The `int` type is a 32-bits integer in Python**

In [11]:
a*2

4

**Converting to 8 bits integer**

In [19]:
import numpy as np

In [20]:
np.int8

numpy.int8

In [21]:
np.int8(100)

100

In [22]:
np.int8(256)

0

### 1.2 Float

In [35]:
b = 2.1

In [36]:
type(b)

float

**The `float` type are 64-bits float in Python.**

**What about float16, float32**

In [25]:
import numpy as np

In [26]:
np.float16

numpy.float16

In [27]:
np.float32

numpy.float32

**Adding an** `int`, `float`

In [37]:
type(a + b)

float

#### Casting

In [38]:
float(a)

2.0

In [42]:
int(2.3)

2

In [45]:
round(2.6)

3

In [46]:
float('1.000')

1.0

In [90]:
int('456')

456

### 1.3 Complex

In [39]:
c = 1.5 + 1j * 0.5
c

(1.5+0.5j)

In [29]:
type(c)

complex

In [41]:
c.imag, c.real

(0.5, 1.5)

### 1.4 Boolean

In [44]:
state = 3 > 4

False

In [45]:
state = 3 < 4

True

In [46]:
type(state)

bool

### Numerical operation

* `+`  `-`  `/`  `*`
* `**` : Exponent
* `%` : Modulus
* `//` : Floor division

[Reference](https://www.programiz.com/python-programming/operators)

In [69]:
1 * 2

2

In [70]:
type(1 * 2)

int

In [71]:
1 * 2.

2.0

In [72]:
type(1 * 2.)

float

In [73]:
2 / 4

0.5

In [74]:
type(2 / 4)

float

In [88]:
5 // 2

2

In [55]:
type(2 // 4)

int

In [84]:
2 % 3

2

In [30]:
2 % 3.

2.0

_In Python 2, the division between 2 integers return the floor division.
In Python 3, it will return the true division making an implicit conversion._
For compatibility between Python 2 and 3, we can use:

In [89]:
from __future__ import print_function, division

### Comparisons

In [32]:
1 == 1

True

In [33]:
3 > 3

False

In [34]:
3 >= 3

True

In [35]:
id(1)

140213959621664

In [38]:
id(1.0)

140213637281304

`is` **command compares the id of a variables**

In [37]:
1 is 1

True

In [39]:
1 is 1.0

False

`==` **compares the values of the variables**

In [40]:
1 == 1.0

True

## 2. Containers

### 2.1 List
 List is a mutable data structure which contains ordered sequence of elements (`items`)

In [81]:
integer_list = [1, 2, 3, 4, 5]
integer_list

[1, 2, 3, 4, 5]

In [82]:
type(integer_list)

list

List can store mix types of variables, since it internally a pointer to each object is stored

In [98]:
mixed = [1, 'hello', 4.5, True]
mixed

[1, 'hello', 4.5, True]

In [131]:
colors = ['white', 'red', 'blue', 'green']
colors

['white', 'red', 'blue', 'green']

In [132]:
# appending new items to the list
colors.append('yellow')
colors

['white', 'red', 'blue', 'green', 'yellow']

In [133]:
# removing an item and return the item, default last
colors.pop()

'yellow'

In [134]:
colors

['white', 'red', 'blue', 'green']

In [135]:
np.sort(colors)

array(['blue', 'green', 'red', 'white'], dtype='<U5')

In [136]:
colors

['white', 'red', 'blue', 'green']

In [137]:
# inplace sort of the list
colors.sort()

In [138]:
colors

['blue', 'green', 'red', 'white']

In [153]:
len(colors)

4

<div class="text-info">

<b>Note</b>:

Pay attention to the output of the last four cells, 
It is noticable that `colors.sort()` doesnt returns any output while `sort(colors)` does.

**python returns none for inplace operations**
    
</div>

In [112]:
# lists are mutable, means they are changable
colors[0] = 'black'
colors

['black', 'green', 'red', 'white']

In [113]:
colors[-1]

'white'

In [114]:
colors[1]

'green'

#### **Slicing**
* Obtaining the subset of reguarly spaced items 

* _Slicing syntax_: ``colors[start:stop:stride]``

NB: All slicing parameters are optional

In [143]:
mylist = [1, 2, 3, 4, 5, 6, 7]

In [144]:
mylist[1:5]

[2, 3, 4, 5]

In [145]:
mylist[::2]

[1, 3, 5, 7]

In [146]:
mylist[-3:]

[5, 6, 7]

In [150]:
mylist[slice(0, 4, 1)]

[1, 2, 3, 4]

In [151]:
mylist[slice(0, 4)]

[1, 2, 3, 4]

In [152]:
mylist[4]

5

In [232]:
stop = None
sl = slice(0, stop, 2)

In [233]:
mylist[sl]

[1, 3, 5, 7, 10, 12]

In [178]:
mylist += 10

TypeError: 'int' object is not iterable

In [180]:
mylist += [10]
mylist

[1, 2, 3, 4, 5, 6, 7, 10]

In [181]:
mylist += [10, 11, 12, 13]
mylist

[1, 2, 3, 4, 5, 6, 7, 10, 10, 11, 12, 13]

In [182]:
mylist + mylist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13]

In [183]:
mylist * 3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13]

In [184]:
10 in mylist

True

In [185]:
100 in mylist

False

<div class="text-success">

<b>EXERCISE</b>:

Consider the following list `a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]`

1. Similarly to the previous section, try to slice the list to get the:
    * first element
    * second from the end
    * third and fourth.
  
2. Get the length of the list and check using autocompletion if there is any method allowing to count the number of occurence of a specific value.

3. repeat a value by appending it to the list and recount this specific value
</div>

In [171]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [172]:
a[0], a[-2]

(1, 9)

In [173]:
a[2:4]

[3, 4]

In [174]:
len(a)

10

In [175]:
a.count(1)

2

In [176]:
a.append(2), a.count(2)

(None, 2)

<div class="text-info">

<b>Note</b>:
    
As shown before, list can contain different types of variables.
However, when the value inside a list cannot be compared, the sorting will raise an error.
    
</div>

In [177]:
sorted(mixed)

TypeError: '<' not supported between instances of 'str' and 'int'

### 2.2 String

Different string formats, single (`''`), double (`""`), triple (`"""`) quotes

In [191]:
s = 'hello'

In [192]:
type(s)

str

In [214]:
s = """hello 
hello 
hello"""

In [215]:
s

'hello \nhello \nhello'

In [216]:
print(s)

hello
hello
hello

In [217]:
len(s)

19

In [218]:
s[0]

'h'

<div class="text-info">

<b>Note</b>:
    
Strings are immutables
    
</div>

In [219]:
s[0] = 't'

TypeError: 'str' object does not support item assignment

In [221]:
s.replace('h', 't')

'tello \ntello \ntello'

In [222]:
s.split()

['hello', 'hello', 'hello']

In [223]:
s = s.split()[0]

In [225]:
# slicing 
s[1:]

'ello'

In [226]:
s[-2:]

'lo'

<div class="text-success">

<b>EXERCISE</b>:

<ul>
 <li>Check the behaviour of the addition operator between 2 strings.</li>
 <li>Check the behaviour of the muliply an integer with strings.</li>

</ul>

</div>

In [228]:
s+'world'

'helloworld'

In [229]:
s*10

'hellohellohellohellohellohellohellohellohellohello'

In [230]:
'lo' in s

True

In [231]:
'world' in s

False

### 2.3 Tuple
Tuple are known as immutable lists.
That means that there is no possibilities to change the vlaue in place.

Beside being immutable, tuple are defined with `()` in comparison to `[]` for list.

In [236]:
# creating a tuple from list
x = tuple([1, 2, 3, 4])

In [237]:
x

(1, 2, 3, 4)

In [238]:
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [240]:
x[0:3]

(1, 2, 3)

In [241]:
month = ('january', 'february', 'march', 'april', 'may')
type(month)

tuple

`tuple` are often used to unpack values.

In [242]:
tuple_3_params = ('param1', 'param2', 'param3')

In [243]:
param1, param2, param3 = tuple_3_params

In [244]:
param1

'param1'

`tuple` can contain mixed types

In [247]:
mytuple = ('a', 1, 1.0, [1, 2, 3])
mytuple

('a', 1, 1.0, [1, 2, 3])

<div class="text-primary">

<b>PUZZLE</b>:
    
    We previously saw that we can modify a list, however this is opposit for the tuple. 
    Considering the following case: x =(1, 2, [3, 4]),
    
    What will happen if you execute x[-1] += [5, 6]
   

</div>

In [248]:
x = (1, 2, [3, 4])

In [249]:
x[-1] +=[5, 6]

TypeError: 'tuple' object does not support item assignment

In [250]:
x

(1, 2, [3, 4, 5, 6])

### 2.4 Set

Sets are mutable, unordered sequences

In [253]:
s = set(['a', 'b', 'c', 'c', 'c'])
s

{'a', 'b', 'c'}

In [254]:
type(s)

set

In [257]:
s2 = set('hello')

In [258]:
s2

{'e', 'h', 'l', 'o'}

In [259]:
s2.intersection(s)

set()

In [260]:
s2.issubset(s)

False

In [261]:
s2.union(s)

{'a', 'b', 'c', 'e', 'h', 'l', 'o'}

### 2.5 Dictionary

An efficient _table_ which maps the `keys` to `values`.

Dictionaries are unordered, mutable containers, define by `{}` or `dict{}`

In [265]:
month_dict = {'january': 1, 'february': 2}
month_dict

{'january': 1, 'february': 2}

In [264]:
type(month_dict)

dict

In [118]:
month_dict.items()

dict_items([('january', 1), ('february', 2)])

In [267]:
month_dict.values()

dict_values([1, 2])

In [268]:
month_dict.keys()

dict_keys(['january', 'february'])

In [270]:
month_dict['march'] = 3

In [271]:
month_dict

{'january': 1, 'february': 2, 'march': 3}

In [274]:
another_dict = {'april': 4, 'may': 5}
month_dict.update(another_dict)
month_dict

{'january': 1, 'february': 2, 'march': 3, 'april': 4, 'may': 5}