# Hello world

Executing a cell with `shift`+`enter`

In [1]:
print('Hello world')

Hello world

# Basic types

**What we will cover**

## 1. Numerical types
* 1.1 Integer
* 1.2 Float
* 1.3 complex
* 1.4 Boolean
    
## 2. Containers
* 2.1 List
* 2.2 String
* 2.3 Tuple
* 2.4 Set
* 2.5 Dictionaries

   
## Also cover 
* Numerical operations
* Comparisons
* Slicing
* List/dict/set comprehensions

## Numerical Types
### 1.1 Integer

In [2]:
a = 1

In [3]:
type(a)

int

In [4]:
a = a + 1
print(a)

2

**The `int` type is a 32-bits integer in Python**

In [5]:
a*2

4

**Converting to 8 bits integer**

In [6]:
import numpy as np

In [7]:
np.int8

numpy.int8

In [8]:
np.int8(100)

100

In [9]:
np.int8(256)

0

### 1.2 Float

In [10]:
b = 2.1

In [11]:
type(b)

float

**The `float` type are 64-bits float in Python.**

**What about float16, float32**

In [12]:
import numpy as np

In [13]:
np.float16

numpy.float16

In [14]:
np.float32

numpy.float32

**Adding an** `int`, `float`

In [15]:
type(a + b)

float

#### Casting

In [16]:
float(a)

2.0

In [17]:
int(2.3)

2

In [18]:
round(2.6)

3

In [19]:
float('1.000')

1.0

In [20]:
int('456')

456

### 1.3 Complex

In [21]:
c = 1.5 + 1j * 0.5
c

(1.5+0.5j)

In [22]:
type(c)

complex

In [23]:
c.imag, c.real

(0.5, 1.5)

### 1.4 Boolean

In [24]:
state = 3 > 4

In [25]:
state = 3 < 4

In [26]:
type(state)

bool

### Numerical operation

* `+`  `-`  `/`  `*`
* `**` : Exponent
* `%` : Modulus
* `//` : Floor division

[Reference](https://www.programiz.com/python-programming/operators)

In [27]:
1 * 2

2

In [28]:
type(1 * 2)

int

In [29]:
1 * 2.

2.0

In [30]:
type(1 * 2.)

float

In [31]:
2 / 4

0.5

In [32]:
type(2 / 4)

float

In [33]:
5 // 2

2

In [34]:
type(2 // 4)

int

In [35]:
2 % 3

2

In [36]:
2 % 3.

2.0

_In Python 2, the division between 2 integers return the floor division.
In Python 3, it will return the true division making an implicit conversion._
For compatibility between Python 2 and 3, we can use:

In [37]:
from __future__ import print_function, division

### Comparisons

In [38]:
1 == 1

True

In [39]:
3 > 3

False

In [40]:
3 >= 3

True

In [41]:
id(1)

94440106060320

In [42]:
id(1.0)

140305307709920

`is` **command compares the id of a variables**

In [43]:
1 is 1

True

In [44]:
1 is 1.0

False

`==` **compares the values of the variables**

In [45]:
1 == 1.0

True

In [46]:
(1.0 + 0.1 - 1.0) == (1.0 - 1.0 + 0.1)

False

In [47]:
abs((1.0 + 0.1 - 1.0) - (1.0 - 1.0 + 0.1)) < 1e-10

True

## 2. Containers

### 2.1 List
 List is a mutable data structure which contains ordered sequence of elements (`items`)

In [48]:
integer_list = [1, 2, 3, 4, 5]
integer_list

[1, 2, 3, 4, 5]

In [49]:
type(integer_list)

list

List can store mix types of variables, since it internally a pointer to each object is stored

In [50]:
mixed = [1, 'hello', 4.5, True]
mixed

[1, 'hello', 4.5, True]

In [51]:
colors = ['white', 'red', 'blue', 'green']
colors

['white', 'red', 'blue', 'green']

In [52]:
# appending new items to the list
colors.append('yellow')
colors

['white', 'red', 'blue', 'green', 'yellow']

In [53]:
# removing an item and return the item, default last
colors.pop()

'yellow'

In [54]:
colors

['white', 'red', 'blue', 'green']

In [55]:
np.sort(colors)

array(['blue', 'green', 'red', 'white'], dtype='<U5')

In [56]:
colors

['white', 'red', 'blue', 'green']

In [57]:
# inplace sort of the list
colors.sort()

In [58]:
colors

['blue', 'green', 'red', 'white']

In [59]:
len(colors)

4

<div class="alert alert-info">

<b>Note</b>:

Pay attention to the output of the last four cells, 
It is noticable that `colors.sort()` doesnt returns any output while `sort(colors)` does.

**python returns none for inplace operations**
    
</div>

In [60]:
# lists are mutable, means they are changable
colors[0] = 'black'
colors

['black', 'green', 'red', 'white']

In [61]:
colors[-1]

'white'

In [62]:
colors[1]

'green'

#### **Slicing**
* Obtaining the subset of reguarly spaced items 

* _Slicing syntax_: ``colors[start:stop:stride]``

NB: All slicing parameters are optional

In [63]:
mylist = [1, 2, 3, 4, 5, 6, 7]

In [64]:
mylist[1:5]

[2, 3, 4, 5]

In [65]:
mylist[::2]

[1, 3, 5, 7]

In [66]:
mylist[-3:]

[5, 6, 7]

In [67]:
mylist[slice(0, 4, 1)]

[1, 2, 3, 4]

In [68]:
mylist[slice(0, 4)]

[1, 2, 3, 4]

In [69]:
mylist[4]

5

In [70]:
stop = None
sl = slice(0, stop, 2)

In [71]:
mylist[sl]

[1, 3, 5, 7]

In [72]:
mylist += 10

TypeError: 'int' object is not iterable

In [73]:
mylist += [10]
mylist

[1, 2, 3, 4, 5, 6, 7, 10]

In [74]:
mylist += [10, 11, 12, 13]
mylist

[1, 2, 3, 4, 5, 6, 7, 10, 10, 11, 12, 13]

In [75]:
mylist + mylist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13]

In [76]:
mylist * 3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 10,
 10,
 11,
 12,
 13]

In [77]:
10 in mylist

True

In [78]:
100 in mylist

False

<div class="alert alert-success">

<b>EXERCISE</b>:

Consider the following list `a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]`

1. Similarly to the previous section, try to slice the list to get the:
    * first element
    * second from the end
    * third and fourth.
  
2. Get the length of the list and check using autocompletion if there is any method allowing to count the number of occurence of a specific value.

3. repeat a value by appending it to the list and recount this specific value
</div>

In [79]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]

In [80]:
a[0], a[-2]

(1, 9)

In [81]:
a[2:4]

[3, 4]

In [82]:
len(a)

10

In [83]:
a.count(1)

2

In [84]:
a.append(2), a.count(2)

(None, 2)

<div class="alert alert-info">

<b>Note</b>:
    
As shown before, list can contain different types of variables.
However, when the value inside a list cannot be compared, the sorting will raise an error.
    
</div>

In [85]:
sorted(mixed)

TypeError: '<' not supported between instances of 'str' and 'int'

### 2.2 String

Different string formats, single (`''`), double (`""`), triple (`"""`) quotes

In [86]:
s = 'hello'

In [87]:
type(s)

str

In [88]:
s = """hello 
hello 
hello"""

In [89]:
s

'hello \nhello \nhello'

In [90]:
print(s)

hello
hello
hello

In [91]:
len(s)

19

In [92]:
s[0]

'h'

<div class="alert alert-info">

<b>Note</b>:
    
Strings are immutables
    
</div>

In [93]:
s[0] = 't'

TypeError: 'str' object does not support item assignment

In [94]:
s.replace('h', 't')

'tello \ntello \ntello'

In [95]:
s.split()

['hello', 'hello', 'hello']

In [96]:
s = s.split()[0]

In [97]:
# slicing 
s[1:]

'ello'

In [98]:
s[-2:]

'lo'

<div class="alert alert-success">

<b>EXERCISE</b>:

<ul>
 <li>Check the behaviour of the addition operator between 2 strings.</li>
 <li>Check the behaviour of the muliply an integer with strings.</li>

</ul>

</div>

In [99]:
s+'world'

'helloworld'

In [100]:
s*10

'hellohellohellohellohellohellohellohellohellohello'

In [101]:
'lo' in s

True

In [102]:
'world' in s

False

### 2.3 Tuple
Tuple are known as immutable lists.
That means that there is no possibilities to change the vlaue in place.

Beside being immutable, tuple are defined with `()` in comparison to `[]` for list.

In [103]:
# creating a tuple from list
x = tuple([1, 2, 3, 4])

In [104]:
x

(1, 2, 3, 4)

In [105]:
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [106]:
x[0:3]

(1, 2, 3)

In [107]:
month = ('january', 'february', 'march', 'april', 'may')
type(month)

tuple

`tuple` are often used to unpack values.

In [108]:
tuple_3_params = ('param1', 'param2', 'param3')

In [109]:
param1, param2, param3 = tuple_3_params

In [110]:
param1

'param1'

`tuple` can contain mixed types

In [111]:
mytuple = ('a', 1, 1.0, [1, 2, 3])
mytuple

('a', 1, 1.0, [1, 2, 3])

<div class="alert alert-danger">

<b>PUZZLE</b>:
 <ul>
   
 <li> We previously saw that we can modify a list, however this is opposit for the tuple. 
    Considering the following case: x =(1, 2, [3, 4]), </li>
 <li>   
   What will happen if you execute x[-1] += [5, 6]
 </li>  
</ul>

</div>

In [112]:
x = (1, 2, [3, 4])

In [113]:
x[-1] +=[5, 6]

TypeError: 'tuple' object does not support item assignment

In [114]:
x

(1, 2, [3, 4, 5, 6])

### 2.4 Set

Sets are mutable, unordered sequences

In [115]:
s = set(['a', 'b', 'c', 'c', 'c'])
s

{'a', 'b', 'c'}

In [116]:
type(s)

set

In [117]:
s2 = set('hello')

In [118]:
s2

{'e', 'h', 'l', 'o'}

In [119]:
s2.intersection(s)

set()

In [120]:
s2.issubset(s)

False

In [121]:
s2.union(s)

{'a', 'b', 'c', 'e', 'h', 'l', 'o'}

### 2.5 Dictionary

An efficient _table_ which maps the `keys` to `values`.

Dictionaries are unordered, mutable containers, define by `{}` or `dict{}`

In [122]:
month_dict = {'january': 1, 'february': 2}
month_dict

{'january': 1, 'february': 2}

In [123]:
type(month_dict)

dict

In [124]:
month_dict.items()

dict_items([('january', 1), ('february', 2)])

In [125]:
month_dict.values()

dict_values([1, 2])

In [126]:
month_dict.keys()

dict_keys(['january', 'february'])

In [127]:
month_dict['march'] = 3

In [128]:
month_dict

{'january': 1, 'february': 2, 'march': 3}

In [129]:
another_dict = {'april': 4, 'may': 5}
month_dict.update(another_dict)
month_dict

{'january': 1, 'february': 2, 'march': 3, 'april': 4, 'may': 5}